@import "font&colors";

#ErrorFourOFour {
  background: $background;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1, h2 {
    font-family: "Bungee", cursive;
    text-decoration: none;
    color: $white;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 1.5em;
  }

  .router {
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $white;
    background: $bluePrimary;
    border-radius: 20px;
    padding: 8px;
    margin: 100px;
    transition: all 0.3s ease-in-out;
    font-family: "Bungee", cursive;

    &:hover {
      border-radius: 50px;
      color: $whitehover;
    }

  }
}