@import "font&colors";


#EventIn {
  min-height: 100vh;
  color: $white;
  width: 100vw;
  background: $bluePrimary;
  background: radial-gradient(circle, $bluePrimary 0%, rgba(11, 0, 77, 1) 17%, rgba(10, 10, 10, 1) 59%, rgba(10, 10, 10, 1) 100%);

  h1 {
    font-family: "Bungee", cursive;
    text-decoration: none;
    color: $white;

  }

  router-link {


  }

  div {
    h2 {
      font-family: "Bungee", cursive;
      text-align: center;
    }
  }


  #elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div {
      margin: 8px;
    }





  }
}
