@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&family=Bungee&display=swap');


$white: #fdfdfd;
$whitehover: #e6e6e6;
$grey: #989898;
$black: #0a0a0a;
$bluePrimary: rgb(17,0,119);
$blueSecondary: rgb(11,0,77);
$background : radial-gradient(circle, $bluePrimary 0%, rgba(11, 0, 77, 1) 17%, rgba(10, 10, 10, 1) 59%, rgba(10, 10, 10, 1) 100%);
